body{
    max-width: 428px;
}

/* Lunatic CSS */

@font-face {
    font-family: 'viafontregular';
    src: url('viafont-webfont.woff2') format('woff2'),
         url('viafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assassinregular';
    src: url('assassin-webfont.woff2') format('woff2'),
         url('assassin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.list-num p{

    font-family: 'assassinregular'; 
    font-size: 22px;
}

.list-num p:hover{
    background-color: rgb(0, 252, 206);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    
}

#lbt{
    font-size: 25px;
    padding: 10px;
    font-family: 'viafontregular';
    margin-left: 25px;
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
}

#lbt:hover{
    background-color: rgba(0, 0, 0, 0.839);
    color: white;
    border: 3px solid rgb(0, 252, 206);

}

/* Lunatic CSS Fin */

/* Partie d'orphée */
main .parentDorphee{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes animationDorphee {
    from{color: blue;}
    to{color: red;}
}
main .orphee{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: cadetblue;
    font-weight: bold;
    transition: all 1s;
    animation: animationDorphee infinite ease-in-out 0.2s;
    
}
header {
    font-size: 1rem;
    
}
a{
    text-decoration: none;
    color: black;
    overflow: auto;
}
